@model IEnumerable<Practica1.AppMVCDataFirst.Models.Proveedore>

@{
    ViewData["Title"] = "inicio";
}

<h1>inicio</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo proveedor</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <table>
                        <tr>
                            <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light">Edit</a> |</td>
                            <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Details</a> |</td>
                            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                </table>
            </td>
        </tr>
}
    </tbody>
</table>
