@model IEnumerable<Practica1.AppMVCDataFirst.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h1>Departamentos disponibles</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear nuevo departamento</a>
</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <table>
                    <tr>
                            <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">editar</a> |</td>
                            <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |</td>
                            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                    </tr>
                </table>
            </td>
        </tr>
}
    </tbody>
</table>
